.login-container {
	display: flex;
	/* flex-direction: column-reverse; */

	position: relative;
	width: 100%;
	background-color: var(--white-color);
	min-height: 100vh;
	/* background-color: var(--grey-light-color); */
}

.section-form,
.section-image {
	width: 100%;
}

.section-image {
	overflow: hidden;
}

.section-image > img {
	width: 100%;
	object-fit: cover;
}

.logo-circle {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.section-form {
	position: absolute;
	top: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding-top: 200px; */
	/* justify-content: center; */
}

.form-container {
	display: flex;
	flex-direction: column;
	/* gap: 36px; */
	align-items: center;

	padding: 20px 28px;
	border-radius: 20px;

	position: relative;
	/* background-color: var(--white-color); */
	background-color: var(--grey-light-color);

	width: 73%;
	max-width: 400px;
}

@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.login-container {
		flex-direction: row;
		height: 100vh;
		background-color: var(--grey-light-color);
	}
	.section-form,
	.section-image {
		position: static;
		width: 50%;
	}

	.logo-circle {
		display: block;
	}

	.form-container {
		background-color: var(--white-color);
	}

	.section-form {
		padding-top: 150px;
		/* justify-content: center; */
	}

	.section-image > img {
		height: 100%;
	}
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
