/* .slider-container {
	padding: 40px;
	position: relative;
}

.slick-list {
	overflow: visible; 
}

.slick-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transform-origin: center left; 
}

.slick-center {
	transform: scale(1) translateX(0);
	z-index: 2;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.slick-slide:not(.slick-center) {
	transform: scale(0.8) translateX(40px); 
	z-index: 1;
	opacity: 0.9;
}

.slide {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	transition: transform 0.5s, opacity 0.5s;
	width: 100%;
	max-width: 400px;
} */
.overlapping-slider .my-super-slide {
	/* background-color: blueviolet; */
	display: flex !important;
	justify-content: center;
	align-items: center;
	height: 200px;
}
h3 {
	display: block;
}

.overlapping-slider .slick-current {
	background-color: green;
}

.overlapping-slider .slick-active:not(.slick-current) {
	background-color: blueviolet;
	position: relative;
	left: -400px;
	z-index: -1;
}

/* .slick-slide slick-active slick-current */
