/* .overlapping-slider .my-super-slide {
	display: flex !important;
	justify-content: center;
	align-items: center;
	height: 200px;
}
h3 {
	display: block;
}

.overlapping-slider .slick-current {
	background-color: green;
}

.overlapping-slider .slick-active:not(.slick-current) {
	background-color: blueviolet;
	position: relative;
	left: -400px;
	z-index: -1;
} */

/* .slick-slide slick-active slick-current */
