.form {
	display: flex;
	flex-direction: column;
	/* gap: 50px; */
	align-items: center;
	width: 100%;
	min-width: 235px;
	font-family: Manrope;
	margin-top: -15px;
}

.form-textfield.MuiFormControl-root {
	margin-top: 50px;
}

.form-btn-wrapper {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.form-button {
	/* margin-top: 30px; */
	display: flex;
	gap: 20px;
	font-family: inherit;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	border-radius: 20px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: var(--orange-color);
	text-decoration: none;
	color: var(--white-color);
	border-width: 0px;
	min-height: 40px;
}

.form-button-grey {
	background-color: var(--grey-dark-color);
}

@media (min-width: 801px) {
	.form-btn-wrapper {
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}
}
