.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 100%;
	min-width: 235px;
	font-family: Manrope;
	margin-top: 30px;
}

.form-textfield.MuiFormControl-root {
	min-height: 84px;
}

.form-btn-wrapper {
	margin-top: -20px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.form-button {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;

	white-space: nowrap;

	border-radius: 20px;

	padding-left: 17px;
	padding-right: 17px;
	padding-top: 8px;
	padding-bottom: 8px;

	background-color: var(--orange-color);
	color: var(--white-color);

	font-family: inherit;
	text-decoration: none;
	border-width: 0px;
	min-height: 40px;
}

.form-button-grey {
	background-color: var(--grey-dark-color);
}

@media (min-width: 801px) {
	.form-btn-wrapper {
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}
}
