.account-container {
	gap: 20px;
	padding-top: 2rem;
	padding-bottom: 2rem;

	font-family: Manrope;
}

.account-header {
	position: relative;
	display: flex;
	flex-direction: column;
	/* align-items: stretch; */
	gap: 20px;
}

.icon-btn-wrapper {
	position: absolute;
	top: 0;
	right: 0;
}

.account-icon-btn.MuiIconButton-root {
	margin-top: -4px;
	padding: 8px;
	width: 2rem;
	height: 2rem;
}

.user-info-container,
.user-license-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.user-name {
	max-width: calc(100% - 65px);
	font-size: 1.25rem;
	font-weight: 700;
}

.user-email {
	font-size: 0.875rem;
	font-weight: 400;
}

.license-title {
	font-size: 0.875rem;
	font-weight: 800;
}

.license-value {
	font-size: 2.5rem;
	font-weight: 800;
}
/* 
.link-min-width {
	align-self: stretch;
	min-width: 238px;
} */

/* .css-jhczcq-MuiTabs-root */

.links-container.MuiTabs-root {
	min-height: 24px;
}

.links-container .MuiTabs-flexContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.links-with-divider:before {
	content: "";
	position: absolute;
	left: -12px;
	height: 1.5rem;
	border-left: 0px solid #d4d4d4;
	z-index: 100000;
}

.links-with-divider:first-child:before {
	border-left: 0px;
}

.links-with-divider.MuiTab-root {
	font-family: Manrope;
	overflow: visible;
	color: var(--black-color);
	text-transform: none;
	padding: 0px;
	min-width: 0px;
	min-height: 0px;
	font-size: 0.875rem;
	transition: none;
}

.links-with-divider.MuiTab-root.Mui-selected {
	font-weight: 700;
	color: var(--black-color);
}

.links-container .MuiTabs-indicator {
	background-color: var(--brand-color);
	/* display: none; */
}

.license-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.link-margin-top {
	margin-top: 11px;
}

.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 28px;
	border-radius: 20px;
	background-color: var(--grey-light-color);

	width: 75%;
	max-width: 440px;

	font-family: Manrope;
}

@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
	/* .link-min-width {
		align-self: flex-start;
	} */
}
@media (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
	.user-name {
		font-size: 1.5rem;
	}

	.user-email {
		font-size: 1.25rem;
	}

	.links-container .MuiTabs-flexContainer {
		justify-content: flex-start;
		gap: 20px;
	}

	.links-container .MuiTabs-indicator {
		display: none;
	}

	.links-with-divider.MuiTab-root {
		font-size: 1.25rem;
	}
	.links-with-divider.MuiTab-root.Mui-selected {
		color: var(--brand-color);
	}

	.links-with-divider:before {
		border-left: 2px solid black;
	}

	.account-container {
		width: 84%;
		max-width: 1400px;
	}

	.account-header {
		flex-direction: row;
		align-items: stretch;
		gap: 100px;
	}

	.user-info-container,
	.user-license-container {
		justify-content: space-between;
	}

	/* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
