:root {
	--brand-color: #3259ca;
	--orange-color: #f66c1e;
	--white-color: #ffffff;
	--black-color: #000000;
	--peach-color: #ffe4d6;
	--green-color: #53cb74;
	--red-color: #c65252;
	--brand-hover-color: #1f3e96;
	--grey-light-color: #f4f4f4;
	--grey-med-color: #d4d4d4;
	--grey-dark-color: #838383;
	--grey40-color: rgba(255, 255, 255, 0.4);

	--gradient: linear-gradient(#f66c1e, #ff99b3, #3259ca);

	--container-max-width: 1200px;
	--header-height: 80px;
	--padding-screen: 8%;
	--padding-mobile: 16px;

	--inverted-padding-screen: calc(-1 * var(--padding-screen));
	--inverted-padding-mobile: calc(-1 * var(--padding-mobile));

	--border-radius-screen: 20px;
	--border-radius-mobile: 6px;

	--gap-screen: 20px;
	--gap-mobile: 8px;
}

body {
	background-color: var(--grey-light-color);
}

@font-face {
	font-family: "Manrope";
	src: url("/src/assets/fonts/Manrope-VariableFont_wght.ttf");
}

main {
	/* background-color: var(--green-color); */
	flex-grow: 1;
	padding-top: var(--header-height);
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.container {
	display: flex;
	position: relative;
	flex-direction: column;
	font-family: Manrope;
	width: 100%;
	padding-left: var(--padding-mobile);
	padding-right: var(--padding-mobile);
	box-sizing: border-box;
}

.text {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.4rem;
	/* font-size: 1rem; */
	/* max-width: 50%; */
}

.text > span {
	font-weight: 800;
}

.section-home {
	background-color: var(--grey-light-color);
	position: relative;
}
.section-clients {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.section-home-content {
	/* background-color: rgba(202, 72, 72, 0.4); */
	position: relative;

	padding: 20px 0px 0px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 80px;

	color: var(--white-color);
}

.section-home-title {
	font-size: 1.5rem;
	font-weight: 800;
}

.section-home-subtitle {
	display: none;
	font-size: 1.2rem;
	white-space: nowrap;
}

.section-home-description {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	background-color: var(--brand-color);
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
}

.section-description-title {
	font-size: 1rem;
	font-weight: 800;
	padding-bottom: 8px;
	border-bottom: 2px solid var(--white-color);
}

.section-description-content {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.2rem;
}

.background-image {
	display: none;
}

.background-container {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: var(--inverted-padding-mobile);
	right: var(--inverted-padding-mobile);
	/* width: 100%; */
	height: 250px;
	background-image: url("/src/assets/img/first-section-bg-image.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.desctop-version {
	display: none;
}

.mobile-version {
	display: block;
}

.section-about-product {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.section-about-product-title {
	display: block;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.product-item {
	min-height: 320px;

	background-color: var(--brand-color);
	color: white;
	padding: 20px;
	margin: 5px;
	border-radius: 20px;
	box-sizing: border-box;
}

.product-item-header {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	font-weight: 700;
	font-size: 1rem;
}
.product-icon-wrapper {
	background-color: var(--white-color);
	border-radius: 50%;
	/* width: 2.5rem;
	height: 2.5rem; */
	width: 40px;
	height: 40px;

	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-item-title {
	max-width: 75%;
	font-size: 0.825rem;
	line-height: 1rem;
}

.product-item-content {
	margin-top: 10px;
}

.product-list {
	margin: 0;
	padding: 0px 20px;
}

.product-list-item {
}

.demo-slider-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	/* flex-direction: row;
	justify-content: space-between; */
}

.slide-description {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	/* width: 25%; */
}

.demo-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.slider-wrapper {
	width: 100%;

	/* width: 70%; */
}
.demo-title {
	font-size: 1rem;
	font-weight: 600;
}

.demo-content {
	font-size: 0.825rem;
	line-height: 1rem;
}

.switcher {
	display: none;
	/* display: block; */
}

.demo-slide-item > img {
	max-width: 100%;
}

.btn-wrapper {
	display: block;
}

.link-container {
	display: flex;
	flex-direction: column;
	/* flex-direction: row; */
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}

.link {
	display: flex;
	gap: 20px;
	font-family: Manrope;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	border-radius: 20px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: var(--brand-color);
	text-decoration: none;
	color: var(--white-color);
}

.link-orange {
	background-color: var(--orange-color);
}

.link-width {
	min-width: 263px;
}

.link-content {
	display: flex;
	align-items: center;
}

.info-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 0.875rem;
}

.title-width {
	width: 100%;
}

.info-container {
	color: var(--white-color);
	padding: 40px 28px;
	border-radius: var(--border-radius-screen);
	background-color: var(--brand-color);
	display: flex;
	flex-direction: column;
	gap: var(--gap-screen);
}
.info-part {
	/* width: 49%; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 40px;
}

.info-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.info-list-item {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.info-item-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.divider {
	border-left: 2px solid white;

	position: relative;
	left: -6px;
}

.divider-adaptive {
	border-top: 2px solid white;
}

.link-flex-end {
	margin-top: auto;
	align-self: flex-start;
}

.modal-title {
	text-align: center;
	font-family: Manrope;
	font-size: 1.4rem;
	font-weight: 700;
}

.delete-text {
	font-size: 1rem;
	line-height: 1.25rem;
}

.delete-text > span {
	font-weight: 700;
}

@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.background-container {
		height: 300px;
	}
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
	.text {
		font-size: 1rem;
		max-width: 43%;
	}
	.info-wrapper {
		flex-direction: row;
		gap: 10px;
		font-size: 1rem;
	}

	.info-part {
		width: 45%;
	}

	.info-container {
		flex-direction: row;
		max-width: 50%;
	}

	.divider-adaptive {
		border-left: 2px solid white;
	}

	.mobile-version {
		display: none;
	}
	.desctop-version {
		display: block;
	}
	.background-image {
		position: static;
		width: 100%;
		display: block;
	}
	.background-container {
		display: none;
	}
	.container {
		width: 84%;
		max-width: var(--container-max-width);
		margin: 0 auto;
	}
	/* TODO: исправить max-width. (вывести в переменную) */
	.section-home-content {
		position: absolute;

		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		gap: 80px;

		padding: 40px 28px 40px 32px;
	}
	.section-home-description {
		width: 60%;
		background-color: transparent;
		padding: 0px;
	}

	.section-about-product-title {
		font-size: 2rem;
	}

	.section-home-title {
		font-size: 2rem;
	}
	.section-home-subtitle {
		display: inline;
		font-size: 1.5rem;
	}
	.section-description-title {
		font-size: 1.2rem;
	}
	.section-description-content {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.demo-slider-container {
		flex-direction: row;
		justify-content: space-between;
	}

	.slide-description {
		width: 25%;
	}

	.slider-wrapper {
		width: 70%;
	}

	.demo-title {
		font-size: 1.5rem;
		font-weight: 800;
	}

	.demo-content {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.switcher {
		display: block;
	}

	.btn-wrapper {
		display: none;
	}

	.link-container {
		flex-direction: row;
	}

	.link-orange-mob {
		background-color: var(--orange-color);
	}
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
