:root {
	--brand-color: #3259ca;
	--orange-color: #f66c1e;
	--white-color: #ffffff;
	--black-color: #000000;

	--peach-color: #ffe4d6;
	--green-color: #53cb74;
	--red-color: #c65252;

	--brand-hover-color: #1f3e96;
	--grey-light-color: #f4f4f4;
	--grey-med-color: #d4d4d4;
	--grey-dark-color: #838383;
	--grey40-color: rgba(255, 255, 255, 0.4);

	--gradient: linear-gradient(#f66c1e, #ff99b3, #3259ca);
	/* --gradient: linear-gradient(
		180deg,
		rgba(246, 108, 30, 0.2) 0%,
		rgba(255, 153, 179, 0.2) 50%,
		rgba(50, 89, 202, 0.2) 100%
	); */

	--header-height: 80px;
	--padding-screen: 8%;
	--padding-mobile: 16px;

	--inverted-padding-screen: calc(-1 * var(--padding-screen));
	--inverted-padding-mobile: calc(-1 * var(--padding-mobile));
}

body {
	background-color: var(--grey-light-color);
}

@font-face {
	font-family: "Manrope";
	src: url("/src/assets/fonts/Manrope-VariableFont_wght.ttf");
}

main {
	/* background-color: var(--green-color); */
	flex-grow: 1;
	padding-top: var(--header-height);
	display: flex;
	flex-direction: column;
	gap: 40px;
}

footer {
	height: var(--header-height);
	background-color: #c65252;
	/* padding-left: var(--padding-screen);
	padding-right: var(--padding-screen); */
}

.container {
	display: flex;
	position: relative;
	flex-direction: column;
	font-family: Manrope;
	width: 100%;
	padding-left: var(--padding-mobile);
	padding-right: var(--padding-mobile);
	box-sizing: border-box;
}

.section-home {
	background-color: var(--grey-light-color);
	position: relative;
}
.section-clients {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.section-home-content {
	/* background-color: rgba(202, 72, 72, 0.4); */
	position: relative;

	padding: 20px 0px 0px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 80px;

	color: var(--white-color);
}

.section-home-title {
	font-size: 1.5rem;
	font-weight: 800;
}

.section-home-subtitle {
	display: none;
	font-size: 1.2rem;
	white-space: nowrap;
}

.section-home-description {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	background-color: var(--brand-color);
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
}

.section-description-title {
	font-size: 1rem;
	font-weight: 800;
	padding-bottom: 8px;
	border-bottom: 2px solid var(--white-color);
}

.section-description-content {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.2rem;
}

.background-image {
	display: none;
}

.background-container {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: var(--inverted-padding-mobile);
	right: var(--inverted-padding-mobile);
	/* width: 100%; */
	height: 250px;
	background-image: url("/src/assets/img/first-section-bg-image.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.desctop-version {
	display: none;
}

.mobile-version {
	display: block;
}

.section-about-product {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.section-about-product-title {
	display: block;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.product-item {
	min-height: 320px;

	background-color: var(--brand-color);
	color: white;
	padding: 20px;
	margin: 5px;
	border-radius: 20px;
	box-sizing: border-box;
}

.product-item-header {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	font-weight: 700;
	font-size: 1rem;
}
.product-icon-wrapper {
	background-color: var(--white-color);
	border-radius: 50%;
	/* width: 2.5rem;
	height: 2.5rem; */
	width: 40px;
	height: 40px;

	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-item-title {
	max-width: 75%;
	font-size: 0.825rem;
	line-height: 1rem;
}

.product-item-content {
	margin-top: 10px;
}

.product-list {
	margin: 0;
	padding: 0px 20px;
}

.product-list-item {
}

.demo-slider-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	/* flex-direction: row;
	justify-content: space-between; */
}

.slide-description {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	/* width: 25%; */
}

.demo-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.slider-wrapper {
	width: 100%;

	/* width: 70%; */
}
.demo-title {
	font-size: 1rem;
	font-weight: 600;
}

.demo-content {
	font-size: 0.825rem;
	line-height: 1rem;
}

.switcher {
	display: none;
	/* display: block; */
}

.demo-slide-item > img {
	max-width: 100%;
}

.btn-wrapper {
	display: block;
}

@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.background-container {
		height: 300px;
	}
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
	.mobile-version {
		display: none;
	}
	.desctop-version {
		display: block;
	}
	.background-image {
		position: static;
		width: 100%;
		display: block;
	}
	.background-container {
		display: none;
	}
	.container {
		width: 84%;
		max-width: 1400px;
		margin: 0 auto;
	}

	.section-home-content {
		position: absolute;

		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		gap: 80px;

		padding: 40px 28px 40px 32px;
	}
	.section-home-description {
		width: 60%;
		background-color: transparent;
		padding: 0px;
	}

	.section-about-product-title {
		font-size: 2rem;
	}

	.section-home-title {
		font-size: 2rem;
	}
	.section-home-subtitle {
		display: inline;
		font-size: 1.5rem;
	}
	.section-description-title {
		font-size: 1.2rem;
	}
	.section-description-content {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.demo-slider-container {
		flex-direction: row;
		justify-content: space-between;
	}

	.slide-description {
		width: 25%;
	}

	.slider-wrapper {
		width: 70%;
	}

	.demo-title {
		font-size: 1.5rem;
		font-weight: 800;
	}

	.demo-content {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.switcher {
		display: block;
	}

	.btn-wrapper {
		display: none;
	}
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}

table {
	border-spacing: 0px;
	width: 100%;
}

tbody {
	background-color: red;
	border-radius: 20px;
	padding: 30px;
}

th {
	padding: 0px 0px 30px;
	font-size: 1.25rem;
	font-weight: 700;
}

tr > td:first-child {
	color: var(--white-color);
	background-color: var(--brand-color);
	font-size: 1.25rem;
	font-weight: 700;
	max-width: 200px;
}

td {
	height: 50px;
	background-color: var(--grey-light-color);
	padding: 10px;
	position: relative;
	text-align: center;
	color: var(--orange-color);
	font-size: 1.5rem;
	font-weight: 800;
}

tr > td:first-child {
	text-align: start;
}

td::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--brand-color);
	z-index: -1;
	margin: -10px;
}

tr:nth-child(1) > td:nth-child(2) {
	border-top-left-radius: 20px;
}
tr:nth-child(1) > td:last-child {
	border-top-right-radius: 20px;
}
tr:last-child > td:nth-child(2) {
	border-bottom-left-radius: 20px;
}
tr:last-child > td:last-child {
	border-bottom-right-radius: 20px;
}

tr:nth-child(1) > td:nth-child(1)::before {
	border-top-left-radius: 20px;
}
tr:nth-child(1) > td:last-child::before {
	border-top-right-radius: 20px;
}
tr:last-child > td:nth-child(1)::before {
	border-bottom-left-radius: 20px;
}
tr:last-child > td:last-child::before {
	border-bottom-right-radius: 20px;
}
