.link_primary {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;

	font-family: Manrope;
	text-decoration: none;
	color: var(--white-color);
	background-color: var(--brand-color);

	padding-left: 16px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 20px;
}

.link-large {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;

	font-size: 0.875rem;
	border: 1px solid transparent;
}

.link-large:hover {
	border: 1px solid var(--peach-color);
	/* border: 1px solid black; */
}

.link_primary:hover {
	background-color: var(--brand-hover-color);
}

.link-orange-mob {
	background-color: var(--orange-color);
}

.link-orange {
	border: 1px solid transparent;

	background-color: var(--orange-color);
}

.link-orange:hover {
	background-color: var(--orange-color);
	/* border: 1px solid var(--peach-color); */
}

.link-orange-mob:hover {
	background-color: var(--orange-color);
}

.link-orange-mob:nth-child(2n) {
	background-color: var(--brand-color);
}

.link-orange-mob:nth-child(2n):hover {
	background-color: var(--brand-hover-color);
}

.link-width {
	min-width: 263px;
}

.link-flex-start {
	margin-top: auto;
	align-self: flex-start;
}

.footer-link {
	display: none;
}

.link-min-width {
	align-self: stretch;
	min-width: 263px;
}

@media (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
	.link-min-width {
		align-self: flex-start;
	}
}
@media (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	.link-min-width {
		align-self: flex-start;
	}
}
@media (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */

	.link_primary {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.link-large {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 12px;
		padding-bottom: 12px;

		font-size: 1.25rem;
	}

	.link-orange-mob:nth-child(2n) {
		background-color: var(--orange-color);
	}

	.link-orange-mob:nth-child(2n):hover {
		background-color: var(--orange-color);
	}

	.footer-link {
		display: flex;
	}
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}
